<div ng-controller="footerController as fc">
<nav class="navbar navbar-inverse" style="position: absolute;left: 0;bottom: 0;height: 100px;width: 100%;overflow:hidden;">
    <div style="padding-top:50px" class="navbar-header">
        <p>HondAssist
            <br>
            <small>&copy;All Rights Reserved 2018</small>
        </p>
    </div>

    <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
    <ul class="nav navbar-nav">
        <li>
            <button ng-click="fc.openModal()"></button>
            <button ng-click="fc.openModalOne()"></button>
           
        </li>
    </ul>
</nav>


</div>
