<div ng-controller="leftBoxController as leftCtrl">
    <div class="panel panel-default" style="height:700px;">
        <div class="panel-heading">
            <div ng-hide="leftCtrl.profileView" class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <button ng-hide="leftCtrl.hidePlus" ng-click="leftCtrl.addMore = true; leftCtrl.hidePlus = true" type='button' class='btn btn-sm btn-success'
                        style='margin-top:10px;'>+</button>
                </div>
            </div>
            <h3 ng-hide="leftCtrl.profileView">Friends</h3>
            <div class="form-group" ng-show="leftCtrl.addMore">
                <label>Name</label>
                <br/>
                <input class="form-control" name="name" type="text" ng-model="leftCtrl.item.name" />
                <br/>
                <label>License Number</label>
                <br/>
                <input class="form-control" name="licenseNum" ng-model="leftCtrl.item.licenseNum" />
                <br/>
              
                <!-- <button class="btn btn-sm btn-white pull-right" ng-click="leftCtrl.indexMode = true">x</button> -->

                <button ng-click="leftCtrl.addMore = false; leftCtrl.add(leftCtrl.item)" class="btn btn-sm btn-warning pull-right">Add</button>
                <div class="m-b-10">
                    <span>
                        <a href="#" class="btn btn-white btn-sm" ng-click="leftCtrl.openModal()">Upload Image</a>
                        <a ng-show="leftCtrl.showSuccess">success.</a>
                    </span>
                </div>

            </div>

            <div ng-show="leftCtrl.profileView">
                <span>
                    <img style="width:30px; height:30px; cursor: pointer;" class="pull-right row" ng-src="{{leftCtrl.profile.profilePic}}">
                    <h3>{{leftCtrl.profile.name}}</h3>
                </span>
            </div>
        </div>

        <div ng-hide="leftCtrl.profileView || leftCtrl.openChat" class="panel-body">
            <table class="table table-hover">
                <tr class="well" ng-repeat="friend in leftCtrl.friendsList track by $index">
                    <td>
                        <a ng-click="leftCtrl.profileMode(friend)">
                            <img style="width:65px; height:65px; cursor: pointer;" ng-src="{{friend.profilePic}}">
                        </a>
                    </td>
                    <td style='cursor: pointer'>
                        <h5 xstyle="margin-top:40px;">{{friend.name}}</h5>
                    </td>
                    <td>
                        <button ng-click="leftCtrl.addFriend(friend)" class="btn btn-md btn-inverse" xstyle='margin-top:20px; width:60px; height:80px;'>
                            +
                        </button>

                        <button ng-click="leftCtrl.deleteFriend(friend)" class="btn btn-md btn-white" xstyle='margin-top:20px; width:60px; height:80px;'>
                            - </button>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="leftCtrl.profileView" class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.name}} </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.coords.latitude}}, {{leftCtrl.profile.coords.longitude}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Odometer</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.odometer}} miles </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Range</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.range}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Lock Status</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.lockStatus}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Drive Status</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{leftCtrl.profile.driveStatus}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Panic Mode</label>
                    <div class="col-sm-10">

                        <p class="form-control-static">
                            {{leftCtrl.profile.panicMode}}</p>
                    </div>
                </div>

                <div class="form-horizontal">
                    <button ng-click="leftCtrl.profileView = false" class="btn btn-md btn-white pull-right" xstyle='margin-top:20px; width:60px; height:80px;'>
                        Back</button>
                    <button ng-click="((leftCtrl.openChat = true) && (leftCtrl.profileView = false))" class="btn btn-md btn-warning pull-right"
                        xstyle='margin-top:20px; width:60px; height:80px;'>Open Chat</button>
                </div>

            </div>
        </div>

        <div ng-show="leftCtrl.openChat">
            <div class='page-header'>
                <h4 class="title">Message Thread</h2>
            </div>
            <div class="panel bg-silver-lighter">
                <div class="crud-site-helpcenter-detail_chatPanel panel-body" style=" overflow-y: scroll; height: 400px;">
                    <div>
                        <!-- begin chats -->
                        <ul class="chats">
                            <li ng-class="{'right': dtlCtrl.isCurrentUser(reply.profileId)}" ng-repeat="reply in dtlCtrl.ticket.thread | orderBy: dateCreated">
                                <span class="date-time">{{reply.dateCreated | date: 'short'}}</span>
                                <a href="javascript:;" class="name">{{reply.profile.profileOverrides.name}}</a>
                                <a href="javascript:;" class="image">
                                    <img class="help-center_ticket-detail-profileImg" ng-src="{{reply.profile.profileOverrides.imageUrl}}">
                                </a>
                                <div class="message help-center_ticket-detail-reply">
                                    <p ng-class="{'text-right': dtlCtrl.isCurrentUser(reply.profileId)}">{{reply.reply}}</p>
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">yesterday 11:23pm</span>
                                <a href="javascript:;" class="name">Sowse Bawdy</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-12.jpg" />
                                </a>
                                <div class="message">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit volutpat. Praesent mattis interdum arcu eu feugiat.
                                </div>
                            </li>
                            <li class="right">
                                <span class="date-time">08:12am</span>
                                <a href="#" class="name">
                                    <span class="label label-primary">ADMIN</span> Me</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-13.jpg" />
                                </a>
                                <div class="message">
                                    Nullam posuere, nisl a varius rhoncus, risus tellus hendrerit neque.
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">09:20am</span>
                                <a href="#" class="name">Neck Jolly</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-10.jpg" />
                                </a>
                                <div class="message">
                                    Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">11:15am</span>
                                <a href="#" class="name">Shag Strap</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-14.jpg" />
                                </a>
                                <div class="message">
                                    Nullam iaculis pharetra pharetra. Proin sodales tristique sapien mattis placerat.
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">yesterday 11:23pm</span>
                                <a href="javascript:;" class="name">Sowse Bawdy</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-12.jpg" />
                                </a>
                                <div class="message">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit volutpat. Praesent mattis interdum arcu eu feugiat.
                                </div>
                            </li>
                            <li class="right">
                                <span class="date-time">08:12am</span>
                                <a href="#" class="name">
                                    <span class="label label-primary">ADMIN</span> Me</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-13.jpg" />
                                </a>
                                <div class="message">
                                    Nullam posuere, nisl a varius rhoncus, risus tellus hendrerit neque.
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">09:20am</span>
                                <a href="#" class="name">Neck Jolly</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-10.jpg" />
                                </a>
                                <div class="message">
                                    Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </li>
                            <li class="left">
                                <span class="date-time">11:15am</span>
                                <a href="#" class="name">Shag Strap</a>
                                <a href="javascript:;" class="image">
                                    <img alt="" src="assets/img/user-14.jpg" />
                                </a>
                                <div class="message">
                                    Nullam iaculis pharetra pharetra. Proin sodales tristique sapien mattis placerat.
                                </div>
                            </li>
                            <li class="m-t-0" id="bottom"></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-footer bg-silver">
                    <p></p>
                    <form name="dtlCtrl.replyForm" ng-submit="dtlCtrl.submitReply()" novalidate>
                        <div class="input-group">
                            <input type="text" name="reply" ng-model="dtlCtrl.formData.reply" rows="5" class="form-control bg-white" placeholder="Enter message"
                                required>
                            <span class="input-group-btn">
                                <buttons class="btn btn-theme pull-right" ng-click="((leftCtrl.openChat = false) && (leftCtrl.profileView = true))" >Back</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>