<div class="login login-v2 authentication-states-login_bg-color" id="authLoginForm" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="login-header authentication-states-login_spacing" >
        <div class="brand">
            <img src="" class="authentication-states-login_width bg-img">
        </div>
    </div>
    <!-- end brand -->
    
            <div class="login-buttons">
                <button ui-sref="site.home" class="btn btn-success btn-block btn-lg">Start Drive!</button>
            </div>
            

</div>
<div ui-view="home"></div>