<div class="login-cover">
    <div class="login-cover-image">
        <img src="/theme/assets/img/login-bg/bg-2.jpg" data-id="login-cover-image" alt="" />
    </div>
    <div class="login-cover-bg"></div>
</div>
<div class="login login-v2 authentication-states-login_bg-color" id="authLoginForm" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="">
        <div class="brand">
            <img style="width:400px;padding-left:50px;padding-top:180px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Honda_logo.svg/2000px-Honda_logo.svg.png"
            />
            <br>
            <small style="margin-right:30px;" class="pull-right">&copy;</small>
        </div>

    </div>
    <!-- end brand -->

    <div style="margin-top:30px;">
        <button style="width:300px;margin-left:75px; color:gray;" ui-sref="site" class="btn btn btn-block btn-lg">Start HondAssist</button>
    </div>


</div>
