.angular-google-map-container {
    height: 650px
}

.login-cover-bg.authentication-states-login_login-cover-bg {
    opacity: 0.0;
    filter: alpha(opacity=00);
}

#authLoginForm.authentication-states-login_bg-color {
    background: transparent;
}

.file-upload_img-preview {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
}